// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the defaultt blueprint modules so that we can access their mixins.
@import "blueprint";
@import "blueprint/grid";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";

@import "compass/utilities";
@import "compass/css3";

// Partials
@import "partials/buttons";
@import "partials/forms";
@import "partials/icons";
@import "partials/notice";
@import "partials/welcome";
@import "partials/comments";


// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

// But Compass recommends that you scope your blueprint styles
// So that you can better control what pages use blueprint
// when stylesheets are concatenated together.
@include blueprint-scaffolding("body.bp");
body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
}

body.bp {
	background: transparent url(/images/webtreats_wood-pattern6-512.jpg) repeat;

  #container {
    @include container;
    #wrapper {
  	  @include prepend-top(120px);
    }
  }
  #header {
    @include column($blueprint-grid-columns, true);
  }
  div.two-col {
    @include container;
    
    div.left {
      @include column(12);
    }
    div.right {
      @include column(12, true);
    }
  }
}


body.bp {
  #content {
    position: relative;
    background-color: #fff;
		@include prepend(2);
    @include append(2);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 30px;
  }
  
  ul.actionlist {
    width: 414px;
    padding: 0;
    @include no-bullet();
    li {
      padding:5px 10px;
      font-weight: bold;
    }
    li:hover {
      background: #F9F9F9;
    }
    a.icon {
      float:right;
    }
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 1em 0 1.5em 0;
    color: $loud-color;
    @include text-shadow(0, 1px, 0, rgba(0,0,0,0.5));
    font-weight: normal;
    a, a:visited {
      @include text-shadow(0, 1px, 0, rgba(0,0,0,0.5));
      color: $loud-color;
      font-weight: normal;
      text-decoration: none;
    }
    a:hover, a:active {
      color: #333;
      font-weight: normal;
      text-decoration: underline;
    }
  }
  
  h4.backlink {
    position: absolute;
    top: -70px;
    left: 15px;
  }
  
  a, a:visited {
    color: #aaa;
    text-decoration: none;
    font-weight: bold;
  }
  a:hover, a:active {
    color: #000;
  }  


}


#header {
  position: relative;
  
  div#controls {
  	color: #999;
  	@include border-radius;
  	position: absolute;
  	top: 20px;
  	right: 0px;
  	background-color: #eee;
  	border: 1px solid #e5e5e5;
  	padding: 5px 10px;
  }

  h1 {
    position: absolute;
    top:0;
    margin-top: 0;
  	margin-bottom: 50px;
  	background: #9fdd00;
  	text-align: center;
  	padding: 0.3em 0.7em;
  	@include box-shadow(rgba(0,0,0,0.3));

  	a, a:visited {
  	  text-decoration: none;
    	color: #fff;
    	font-weight: normal;
  	  font-family: Georgia, Times, serif;
  	  letter-spacing: -1px;
  	  @include text-shadow(0,1px,0,rgba(0,0,0,0.5));
  	}
  }
}

.info {
  color: #777;
  font-size: 90%;
  font-weight: normal;
}

.huge {
  font-size: 2em;
}

ul#bugs {
  @include inline-block-list;
  li {	
  	@include column(5);
    @include append-bottom(2em);
    div.bug_container {
	  	height: 140px;
		  border: 1px solid #ccc;
		  background-color: #eee;
		  @include border-radius(3px);
		  display: block;
		  padding: 10px;
		  div.bug_text {
				white-space: normal;
			}
	  }
  }
  h3 { padding-top: 0px; margin-top: 0px; }
  li.nospacing {
		@include column(5, true);
  }
}

.right {
	float: right;
}

div#dashboard {
	#main {
		@include column(12);
		@include append(2);
		ul {
			padding: 0;
	    @include no-bullet();
			li {
				.entry-description {
					font-size: 20px;
				}
				.entry-meta {
					margin-bottom: 20px;
				}
			}
		}
	}
	
	#sidebar {
		@include column(6, true);
		div {
			@include border-radius(3px);
			background-color: #eee;
			border: 1px solid #ccc;
			padding: 0 15px;
		}
	}	
}